.main {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
}
html, body {
    margin: 0;
    padding: 0;
}
.main-button {
    margin-top: 30px;
    padding: 10px 40px;
    border: none;
    cursor: no-drop;
}
.main-button:hover {
    background-color: burlywood;
}
.main-img {
    background-image: url("imgLaym.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
}
.main-img:hover {
    cursor: url("harty.png"), auto;
}
.middle {
    background-color: rgb(9, 221, 140);
    padding: 30px 100px 50px 100px;
}
.end {
    background-color: rgb(245, 124, 190);
    display: flex;
    padding: 30px 100px 50px 100px;
    justify-content: center;
}
.end > div {
    width: 30%;
}
.commands {
display: flex;
justify-content: space-around;
padding: 30px;
text-align: center;
}
h2 {
    text-align: center;
}
.sit-img {
    background-image: url("imgsit.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
}
.lay-img {
    background-image: url("imglay.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;   
}
.day-img {
    background-image: url("imgday.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover; 
    background-position: center;   
}
.characters {
    display: center;
    justify-content: center;
}
.list {
    display: center;
    justify-content: center;
    list-style-image: url("lap.png");
}
.photo {
    background-image: url("imgph.jpg");
    width: 100%;
    height: 300px;
    background-size: cover; 
    background-position: center;  
}
.photo:hover {
    background-image: url("lubka.jpg");  
    transition: all 1s ease-in-out;
}
.commands-img:hover {
transform: scale(1.3);
transition: all 0.5s;
cursor: url("bone.png"), auto;
}